{% extends 'news_app/base.html' %}

{% load static %}

{% load news_tags %}

{% block content %}
<div class="pattern pattern-cat-header">
	<div class="cat-header header-about">
		<div class="cat-header-block">
			<h1>{{ about.header }}</h1>
		</div>
	</div>
</div>

<div class="article-content">
	<div class="container-fluid">
		<div class="row">

			<div class="col-md-8">

				<article class="main-article">

					<h2 class="text-center">{{ about.header_article }}</h2>

					<div class="article-body">

						{{ about.article  | safe }}

					</div>

				</article>

			</div>

			<div class="col-md-4">

				<aside class="main-aside">

          {% include 'news_app/tags/widgets/wid-reclam-vertical.html' %}

          {% get_last_category_articles category %}

          {% include 'news_app/tags/widgets/wid-vk-widget.html' %}

        </aside>

			</div>

		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
  {% include 'news_app/include/scripts/vk-script.html' %}
{% endblock %}