{% extends 'news_app/base.html' %}
{% load news_tags %}
{% load static %}
{% load thumbnail %}
{% block title %}{{ title }}{% endblock title %}
{% block tags %}

{% endblock %}

{% block content %}
  <div class="hide-sect">
    {% get_items_third_section first_cat %}
  </div>
	<div class="cat-list-first">
		<div class="container-fluid">

			<div class="ad top-ad">
				<img src="{% static 'news_app/img/ad-horizontal.jpg' %}" alt="alt" class="img-responsive">
			</div>
			

		</div>
	</div>

	<div class="cat-list">
		<div class="container-fluid">
			<div class="row">

				<div class="col-md-8">

          {% if tag %}
            <div class="all-posts-header mb-4">Статьи по тегу :   <span> #{{ tag.name }}</span></div>
          {% elif string %}
            <div class="all-posts-header">Статьи по запросу :   <span style="text-transform: none;"> {{ string }}</span></div>
          {% else %}
					  <div class="all-posts-header mb-4">Все статьи:</div>
          {% endif %}


					<div class="cat-list-wrap">
            {% if string %}

              {% for post in page_obj %}
                {% thumbnail post.object.image "422x272" crop="50%" quality=70 as im %}
                <a href="{{ post.object.get_absolute_url }}" class="cat-list-item">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="pattern">
                        <img src="{{ im.url }}" alt="{{ post.object.header }}" class="img-responsive overlay">
                      </div>
                    </div>
                    {% endthumbnail %}

                    <div class="col-sm-6">
                      <h3>{{ post.object.header|highlight_search:query | safe }}</h3>
                      <div class="date">{{ post.object.time_create | date:"d/m/Y" }}</div>

                      {{ post.object.article|highlight_search:query | safe  }}
                    </div>
                  </div>
                </a>

              {% endfor %}

            {% else %}

              {% for post in page_obj %}
                {% thumbnail post.image "422x272" crop="50%" quality=70 as im %}
                <a href="{{ post.get_absolute_url }}" class="cat-list-item">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="pattern">
                        <img src="{{ im.url }}" alt="{{ post.header }}" class="img-responsive overlay">
                      </div>
                    </div>
                    {% endthumbnail %}

                    <div class="col-sm-6">
                      <h3>{{ post.header }}</h3>
                      <div class="date">{{ post.time_create|date:"d/m/Y" }}</div>
                      {{ post.article | truncatewords:15 | safe }}
                    </div>
                  </div>
                </a>

              {% endfor %}

            {% endif %}
					</div>

          {#    пагинация на мобильных устройствах      #}
          {% include 'news_app/include/pagination.html' %}

				</div>

				<div class="col-md-4">

          <aside class="main-aside">

            {% include 'news_app/tags/widgets/wid-reclam-vertical.html' %}

            {% get_last_category_articles category %}

            {% include 'news_app/tags/widgets/wid-vk-widget.html' %}

          </aside>
				</div>

			</div>
		</div>


	</div>

{% endblock %}

{% block footer_top %}

  {% get_items_third_section second_cat %}

{% endblock %}

{% block scripts %}

  {% include 'news_app/include/scripts/vk-script.html' %}

{% endblock %}