<!DOCTYPE html>

{% load static %}

{% load meta_tags %}

{% load news_tags %}

<html lang="ru">

<head>

	<meta charset="utf-8">
	<!-- чтоб не писать слеш в ссылках -->
	<base href="/">

{#	<title>GEEKTOP - {% block title %}GEEKTOP.ru - Новости из мира IT{% endblock title %}</title>#}
{#	<meta name="description" content="Новости электроники, технологий, современных гаджетов, и другая актуальная информация современной IT индустрии.">#}
  {% block meta_tags %}{% include_meta_tags %}{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<link rel="icon" href="{% static 'news_app/img/favicon.png' %}">
	<meta property="og:image" content="{% static 'news_app/img/example.jpg' %}">

	<!-- Custom Browsers Color Start -->
	<!-- Цвет в который будет окрашиваться заголовок браузера например мобильный хром, opera -->
	<meta name="theme-color" content="#ec1c1c">
	<!-- Custom Browsers Color End -->


	<link rel="stylesheet" href="{% static 'news_app/css/app.min.css' %}">

</head>
	{% block body %} <body> {% endblock body %}

{#    {% get_menu as menu %}#}

		<header class="top-line">

			<a href="/" class="logo logo-litera">GeekTOP</a>

			<div class="search-wrap">

				<div class="search" title="Подсказка при наведении, Поиск по сайту"><div class="fa fa-search"></div></div>
				<div class="search-field">
					<form action="/search.html" id="cse-search-box">
						<input type="hidden" name="cx" value="partner-pub-xxx:xxx" >
						<input type="hidden" name="cof" value="FORID:10" >
						<input type="hidden" name="ie" value="UTF-8" >
						<input type="text" name="q" placeholder="Поиск по сайту..." >
					</form>
				</div>
			</div>

			<div class="mobile-menu-button"><i class="fa fa-bars"></i> меню</div>

			<nav class="main-menu top-menu">

				{% show_menu category about link_active %}
			</nav>

		</header>

	{% block content %}



	{% endblock %}

  	{% if page_obj.has_other_pages %}
		<!-- классы bootstrap display: none, display: block -->
		<div class="pagination-section text-center d-none d-md-block">

			{% if page_obj.has_next %}
				<a href="{{ request.path }}?page={{ page_obj.next_page_number }}" class="button">Следующая страница <i class="fa fa-angle-double-right"></i></a>
			{% endif %}
			<div class="pagination">
				{% if page_obj.has_previous %}
					<a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" class="pagination-left" title="Предыдущая страница">&laquo;</a>
				{% else %}
					<span class="pagination-left" title="Предыдущая страница">&laquo;</span>
				{% endif %}

				{% for p in page_obj.paginator.page_range %}
					{% if page_obj.number == p %}
					<span class="active">{{ p }}</span>
					{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
						<a href="{{ request.path }}?page={{ p }}">{{ p }}</a>
					{% endif %}
				{% endfor %}

				{% if page_obj.has_next %}
					<a href="{{ request.path }}?page={{ page_obj.next_page_number }}" class="pagination-right" title="Следующая страница">&raquo;</a>
				{% else %}
					<span class="pagination-right" title="Следующая страница">&raquo;</span>
				{% endif %}
			</div>


			</div>
	{% endif %}

	<footer class="main-footer">
		<div class="container text-center">

			<nav class="main-menu footer-menu">
				{% show_menu category about link_active %}
			</nav>

			<nav class="soc">
				<ul>
					<li><a href="#"><i class="fa fa-vk"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-odnoklassniki"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram"></i></a></li>
					<li><a href="{% url 'post_feed' %}"><i class="fa fa-rss"></i></a></li>
				</ul>
			</nav>

		</div>
	</footer>

	<footer class="bottom-footer text-center">
		<div class="container">
			<div class="footer-copy">2024 © <a class="logo logo-footer logo-litera">GeekTOP.ru</a></div>
			<p>Копирование контента и размещение на других сайтах запрещено.</p>
		</div>
	</footer>

	<script src="{% static 'news_app/js/app.min.js' %}"></script>
	<script id="dsq-count-scr" src="//geektop-ru-12.disqus.com/count.js" async></script>

  {% get_tags_cloud %}

</body>
</html>