{% extends 'news_app/base.html' %}
{% block title %}Категория: {{ cat.name }}{% endblock title %}
{% load static %}
{% load thumbnail %}
{% load news_tags %}

{% block content %}

	<div class="pattern pattern-cat-header">
		<div class="cat-header overlay" style="background-image: url({{ cat.image.url }})">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-7">
						<div class="cat-header-block">
							<h1>{{ cat.name }}</h1>
							<p>{{ cat.description }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="cat-list-first">
		<div class="container-fluid">

			<div class="ad top-ad">
				<img src="{% static 'news_app/img/ad-horizontal.jpg' %}" alt="alt" class="img-responsive">
			</div>
			
			{% get_type_one_section first_cat %}

		</div>
	</div>

	<div class="cat-list">
		<div class="container-fluid">
			<div class="row">

				<div class="col-md-8">


          <h2 class="mb-5">
            Все статьи из категории: <span>{{ cat.name }}</span>
          </h2>

					<div class="cat-list-wrap">

						{% for post in page_obj %}
              {% thumbnail post.image "422x272" crop="50%" quality=70 as im %}
							<a href="{{ post.get_absolute_url }}" class="cat-list-item">
								<div class="row">
									<div class="col-sm-6">
										<div class="pattern">
											<img src="{{ im.url }}" alt="{{ post.header}}" class="img-responsive overlay">
										</div>
									</div>

									<div class="col-sm-6">
										<h3>{{ post.header }}</h3>
										<div class="date">{{ post.time_create|date:"d/m/Y" }}</div>
										{{ post.article | truncatewords:15 | safe }}
									</div>
								</div>
							</a>
              {% endthumbnail %}
						{% endfor %}

					</div>

          {#    пагинация на мобильных устройствах      #}
          {% include 'news_app/include/pagination.html' %}

				</div>


			  <div class="col-md-4">

          <aside class="main-aside">

            {% include 'news_app/tags/widgets/wid-reclam-vertical.html' %}

            {% get_last_category_articles category %}

            {% include 'news_app/tags/widgets/wid-vk-widget.html' %}

            {% include 'news_app/tags/widgets/wid-last-comments.html' %}

          </aside>

        </div>


			</div>
		</div>
	</div>

{% endblock %}

{% block footer_top %}

  {% get_items_third_section second_cat %}

{% endblock %}

{% block scripts %}
  {% include 'news_app/include/scripts/vk-script.html' %}
{% endblock %}