{% extends 'news_app/base.html' %}
{% load static %}
{% load meta_tags %}
{% load news_tags %}
{% block title %}{{ post.short }}{% endblock title %}
{% block og_title %}{{ post.header }}{% endblock %}
{% block og_type %}article{% endblock %}
{% block og_url %}https://{{ host }}{{ post.get_absolute_url }}{% endblock %}
{% block og_image %}https://{{ host }}{{ post.image.url }}{% endblock %}
{% block tags %}
  <meta name="keywords" content="">
  <meta name="description" content="{{ post.header }}">
{% endblock %}

{% block body %}<body class="ispage">{% endblock body %}



{% block content %}

<header class="page-header overlay" style="background-image: url({{ post.image.url }})">

	<div class="page-header-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-7 col-md-8">

					<div class="page-header-meta">

						<a href="{{ post.category.get_absolute_url }}" class="page-category-link">{{ post.category.name }}</a><span class="date">{{ post.time_create|date:"d/m/Y" }}</span>

						<h1>{{ post.header }}</h1>
						<div class="item-social">
							<div class="item-comments" title="Количество коментариев">
								<i class="fa fa-comments"></i><a href="https://{{ host }}{{ post.get_absolute_url }}#disqus_thread" class="item-comments-count"></a>
							</div>
						</div>

						<div class="fa fa-share-alt" title="Поделиться в соц. сетях"></div>

						<div class="likely likely-custom" data-image="{{ post.image.url }}" data-media="{{ post.image.url }}"
							data-title="{{ post.header }}">
							<div class="vkontakte" data-comment="{{ post.category.name }}" title="Поделиться Вконтакте">Вконтакте</div>
							<div class="facebook" data-hashtag="#{{ post.category.name }}" title="Поделиться в Facebook">Facebook</div>
							<div class="twitter" data-title="" data-hashtags="{{ post.category.name }}" data-related="GeekTOP.ru" title="Поделиться в Twitter">Twitter</div>
						</div>



					</div>

				</div>
			</div>
		</div>
	</div>

</header>

<div class="article-content">
	<div class="container-fluid">
		<div class="row">

			<div class="col-md-8">

				<!-- Для лучшей поисковой оптимизации используем html5 теги -->
				<article class="main-article">
					
					<nav class="breadcrumbs">
						<ul>
							<li><a href="/">Главная</a></li>
							<li><a href="{{ post.category.get_absolute_url }}">{{ post.category.name }}</a></li>
							<li class="active">{{  post.short }}</li>
						</ul>
					</nav>

					<div class="article-body">

						<div class="ad article-top-ad">
							<img src="{% static 'news_app/img/ad-horizontal.jpg' %}" alt="alt" class="img-responsive">
						</div>


{#						<h2 class="text-center" style="font-weight: 800">{{ post.header }}</h2>#}
						{{ post.article | safe }}


						<div class="likely-on-page">
							<div class="likely likely-dark-theme" data-media="http://{{ host }}{{ post.image.url }}"
							 data-image="http://{{ host }}{{ post.image.url }}" data-title="{{ post.header }}">
								<div class="vkontakte" role="link" data-url="" title="Поделиться Вконтакте">Вконтакте</div>
								<div class="facebook" title="Поделиться в Facebook">Facebook</div>
								<div class="twitter" data-hashtags="{{ post.category.name }}" title="Поделиться в Twitter">Twitter</div>
								<div class="odnoklassniki" title="Класснуть">Класснуть</div>
							</div>
						</div>


            <p class="page-tags" >
              <span>Теги статьи: </span>
              {% for tag in post.tags.all %}
                <a href="{% url 'all_posts_by_tag' tag.slug %}">
                  #{{ tag.name }}
                </a>
                {% if not forloop.last %},   {% endif %}
              {% endfor %}
            </p>

						<div class="ad article-top-ad">
							<img src="{% static 'news_app/img/ad-horizontal.jpg' %}" alt="alt" class="img-responsive">
						</div>

						{% read_more post %}

						<div class="comments">
							{% include 'news_app/include/disqus-comments.html' %}
						</div>

					</div>

				</article>

			</div>

      <div class="col-md-4">
{#        {% get_main_aside category %}#}
        <aside class="main-aside">

          {% include 'news_app/tags/widgets/wid-tags-cloud.html' %}

          {% include 'news_app/tags/widgets/wid-reclam-vertical.html' %}

          {% get_last_category_articles category %}

          {% include 'news_app/tags/widgets/wid-vk-widget.html' %}

        </aside>
      </div>

		</div>
	</div>
</div>

{% endblock %}

{% block footer_top %}

  {% get_items_third_section random_cat %}

{% endblock %}

{% block scripts %}

  {% include 'news_app/include/scripts/vk-script.html' %}
  {% get_tags_cloud_script %}

{% endblock %}